__pycache__
wandb

.DS_store
samples/*.png
samples
samples/*.npz
results
pretrained_models
*.npz
*.pb

samples/SiT-XL-2-pretrained-cfg-1.45-*
samples/SiT-XL-2-pretrained-cfg-1.0-128-SDE-250-Euler-sigma-Mean-0.04seed-0-cns-power-gamma-0.75-gamma-divider-1.73-non-smoothed-alpha-[0.15,*-0.5]-outside-exp-fnorm-tilting-exp-interp0.75-energy-scale0.98.npz
samples/SiT-XL-2-pretrained-cfg-1.5-128-SDE-250-Euler-sigma-Mean-0.04seed-0-cns-sqrt-gamma-gamma-divider-25.0-non-smoothed-alpha-[-0.1,*0.03]-outside-exp-fnorm-tilting-energy-scale0.998_15:13:52_14-05-2026.npz
samples/SiT-XL-2-pretrained-cfg-1.45-128-SDE-250-Euler-sigma-Mean-0.04seed-0-cns-sqrt-gamma-gamma-divider-25.0-non-smoothed-alpha-[-0.1,*0.03]-outside-exp-fnorm-tilting-energy-scale0.998/*
samples/SiT-XL-2-pretrained-cfg-1.5-128-SDE-250-Euler-sigma-Mean-0.04seed-0-cns-sqrt-gamma-gamma-divider-25.0-non-smoothed-alpha-[-0.1,*0.03]-outside-exp-fnorm-tilting-energy-scale0.998/*
samples/SiT-XL-2-pretrained-cfg-1.0-128-SDE-250-Euler-sigma-Mean-0.04seed-0-cns-power-gamma-0.75-gamma-divider-1.73-non-smoothed-alpha-[0.15,*-0.5]-outside-exp-fnorm-tilting-exp-interp0.75-energy-scale0.98.npz
samples/SiT-XL-2-pretrained-cfg-1.0-128-SDE-250-Euler-sigma-Mean-0.04seed-0-cns-power-gamma-0.75-gamma-divider-1.73-non-smoothed-alpha-[0.15,*-0.5]-outside-exp-fnorm-tilting-exp-interp0.75-energy-scale0.98/*